@import "../variables";

.icon{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	font-family: $system-font;
	font-size: $system-font-size;
	user-select: none;
	padding: 3px;
	position: relative;

	img{
		width: 32px;
		height: 32px;
	}

	span{
		padding: 2px 3px;
	}

	&.selected{
		span{
			background: $title-bar-active;
			color: $title-bar-text-active;
		}
	}
}

.icon-collection{
	position: absolute;
	//display: flex;
	//flex-wrap: wrap;

	//&.ordering-bottom{
	//	align-items: flex-end;
	//	align-content: flex-end;
	//}
}

.window-icon-collection{
	box-sizing: border-box;
}