@import "../variables";

.icon{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	font-family: $system-font;
	font-size: $system-font-size;
	user-select: none;
	padding: 3px;

	img{
		width: 32px;
		height: 32px;
	}

	span{
		padding: 2px 3px;
	}

	&.selected{
		span{
			background: $title-bar-active;
			color: $title-bar-text-active;
		}
	}
}

.icon-collection{
	display: flex;
	flex-wrap: wrap;

	&.ordering-bottom{
		align-items: flex-end;
		align-content: flex-end;
	}
}

.window-icon-collection{
	padding: 20px;
	box-sizing: border-box;
}