$system-font: 'MS Sans Serif', 'system';
$system-font-size: 11pt;

$desktop: white;
$application-workspace: white;

$window-text: black;
$window-frame: black;
$window-background: white;

$border-active: black;
$border-inactive: black;

$button-face: rgb(192, 192, 192);
$button-shadow: rgb(128, 128, 128);
$button-text: black;
$button-highlight: white;

$highlight: rgb(0, 0, 128);
$highlight-text: white;

$scrollbars: white;

$menu-bar: white;
$menu-text: white;

$title-bar-active: rgb(0, 0, 128);
$title-bar-inactive: white;//$button-face;
$title-bar-text-active: white;
$title-bar-text-inactive: black;

$text-disabled: gray;

$draghandle-background: #393939AA;